*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family:  "Segoe UI";
    font-size: 18px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
/* header */
.header-container{
    background-image: linear-gradient(transparent, #fdfdfd)
}
.header-primary-nav{
    display: flex;
    margin: 15px 24px;
    padding: 2px;
    gap: 6px;
    justify-content: center;
}
.main-nav__logo__image{
    flex-shrink: 0;
    flex-grow: 0;
    width: 60px;
    height: 42px;
}
#header-nav-ul{
    text-transform: capitalize;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.right , .left{
    display: flex;
    gap: 15px;
    margin: 0px 15px;
}
.header-nav-ul-li>a{
    margin: 0px 15px;
    color: rgba(0, 0, 0, 0.871);
    font-weight: 700;
    font-size: 18px;
}
.header-nav-ul-li>a>em{
    color: #0000ff;
    font-size: 18px;
}
.header-nav-ul-li>a>b{
    color: rgba(221, 159, 15, 0.871);
    font-size: 18px;
}
#header-hr
{
    width: 99%;
    margin: auto;
}

/* primary nav ends */

/* secondr nav begain */
.header-secondry-nav-ul{
    display: flex;
    gap: 15px;
    margin: 15px 42px;
}
.header-secondry-nav-ul>li>a{
    color: black;
    font-weight: 600;
    margin: 0px 33px 0px 0px;
}
.header-secondry-nav-ul>li>a>em{
    color: #ff764d;
}
/* secondr nav end */
/* Header ends */

/* main Starts */
main>header{
    height: 698px;
    width: 93%;
    margin: 24px auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 195px;
    color: #e1ab2e;
    font-weight: 600;
    background-image: url(https://images.pexels.com/photos/7014939/pexels-photo-7014939.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Main text 1 & 2 start  */
.about-text{
    width: 51%;
    margin: 100px auto;
}
.about-text>b{
    font-size: 23.1px;
    font-weight: 600;
    word-spacing: 4.2px;
    font-size: 26px;
}
.about-text>b>a{
    font-size: 24px;
    font-weight: 600;
    word-spacing: 4.2px; 
    color: #0000ff;
}
.about-text>p{
    margin-top: 42px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    word-spacing: 4.2px; 
}
/* Main text 1 & 2 end  */

/* Main collage starts  */
.main-collag-container{
    position: relative;
    width: 100%;
    height: 800px;
    align-items: center;
    display: flex;
}
.main-collag-left{
    width: 50%; display: flex;
    justify-content: end;
}
.main-collag-left>img{
    height: 600px;
    width: 90%;
    object-fit: cover;
    z-index: 2;
    margin-right: -45px;

}
.main-collag-right{
    width: 50%;
    background-color: #fbffa7;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-collag-right>img{
    height: 330px;
    width: 60%;
    object-fit: cover;
}
/* Main collage ENDS  */
.about-video{
    padding: 0;
    position: relative;
    width: 780px;
    margin: auto;
}
.about-video>.thumnail{
    width: 100%;
    height: 100%;
}
.playbutton{
    position: absolute;
    height: 141px;
    left: 39%;
    top: 39%;
}
.vid-title{
    font-size: 13px;
}
/* end */
/* 2nd collg starts */
.collag-container-two{
    display: flex;
    width: 100%;
    height: 800px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.collag-container-two-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #b6ffc0;
    width: 60%;
    height: 100%;
}
.collag-container-two-left>img{
    height: 330px;
    width:60%;
    /* margin: auto; */
    object-fit: cover;
}
.collag-container-two-right>img{
    height: 600px;
    width:100%;
    object-fit: cover;
    margin-left: -100px;
}
/* ends */
/* center image */
.centerimage{
    width: 78%;
    margin: auto;
    height: 600px;
}
.centerimage>img{
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* 3rd collage */
.main-collag-container-three{
    display: flex;
    flex-wrap: nowrap;
    height: 800px;
    width: 100%;
    align-items: center;
}
.main-collag-container-three>.absolute{
    position: absolute;
    height:800px;
    width: 80%;
    background-color: #d5b3ff;
    left:10%;
    z-index: -10;
}
.main-collag-container-three-left{
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: center;
}
.main-collag-container-three-left>img{
    object-fit: cover;
    width:80%;
}
.main-collag-container-three-right{
    display: flex;
    width: 50%;
    height: 70%;
    justify-content: end;
}
.main-collag-container-three-right>img{
    object-fit: contain ;
    width: 93%;
}
/* end */
/* jobteaser start */
.about-jobteaser{
    display: flex;
    align-items: center;
    width: 96%;
    height: 600px;
    border-radius: 6px;
    margin: auto;
}
.about-jobteaser>div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.about-jobteaser>div>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.about-jobteaser-right{
    padding: 60px;
    background-color: #b1c5ff;
    height: 100%;
}
.about-jobteaser-right>p{
    font-size: 24px;
    word-spacing: 6px;
    font-weight: 600;
    margin: 24px;
}
.about-jobteaser-right>a{
    color: rgb(21, 0, 255);
    font-size: 24px;
    font-weight: 700;
    word-spacing: 6px;
    padding: 6px;
}
.icon{
    color: #0000ff;
}
/* jobteaser end*/
main{
    margin-bottom: 150px;
}
/* Main end */

/* Footer starts  */
footer{
    display: flex;
    width: 87%;
    justify-content: flex-start;
    margin: 90px auto;
    height: 393px;
}
/* common css of directe children div of footer starts  */
footer>div{
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* common css of directe children div of footer ends  */
/* common css for sub divs  start */
.extra,.comunity,.education{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.comunity>h2,.education>h2,.language-location>h2,.footer-right>h2{
    margin: 15px 0px;
    font-size: 24px;
}
/* common css for sub divs  ends */

/* css for left footer Starts*/
.footer-left>h2{
    font-size: 51px;
}
.links>a>i{
    margin-top: 10px;
    font-size: 33px;
}
/* css for left footer ends */
/* css for mid footer starts */
#Location,#Language{
    width: 150px;
    background-color:  #eeeeee;
}
/* css for mid footer ends */
/* css for right footer starts */
.footer-right{
    display: block;
}
.footer-right>p{
    margin: 15px 0px;
}
.input>input{
    background-color: #eeeeee;
    width: 240px;
    border: 0px;
    padding: 6px;
}
.input>button{
    background-color: #0000ff;
    color: white;
    font-size: 20px;
    width: 105px;
    border: 0px;
    margin-left: -4px;
    padding: 4px;
}
/* css for right footer ends */